*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.intro{
	background: #EAF0F1;
}
/* Style for h1 tag */
h1 {
	font-size: 3rem;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: #3b3653;
	text-shadow: 2px 2px #fff;
  }
  
  /* Style for h3 tag */
  h3 {
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	color: #211e2b;
	text-shadow: 1px 1px #fff;
  }
  

button{
	border:none;
	border-radius: 8px;
	padding: 10px;
	background:#5b3ec4; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: 0.5s;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#825386;
}
footer{
	color:#586776;
	background-color:#EAF0F1;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0;
	font-size: 15px;
}
.im {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
.action{
	text-align: center;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}

@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 50px;
	}

}
  
  
  